<!-- <p>product-shop works!</p>
<button (click)="navigateToProductDetails()">Back</button>
<h3>{{product.name}}</h3>
<p>{{product.description}}</p>
<p>{{product.price}}</p> -->



<body>
    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1">
                                <img src="{{product.imgaddress}}" alt="product image" style="width: 400px; height: 300px;"/>
                            </div>
                            <!-- https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg -->
                        </div>
                        <div class="details">
                            <h3 class="product-title">{{product.name}}</h3>
                            <p class="product-description">
                                {{product.description}}
                            </p>
                            <h4 class="price">current price: <span>{{product.price}}</span></h4>
                            <div class="action">
                                <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                                <button class="like btn btn-default" type="button" style="margin-left: 5px;"><span
                                        class="fa fa-heart">Continue Shopping</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>